Repository bellshade/Java: changes, and which Mergify rules are due for each by the changed paths.
All: java label, markdown label

.mergify.yml:

pull_request_rules:
  - name: ci testing kalo sukses ke squash dengan label
    conditions:
      - check-success=build
      - base=main
      - label=ready-to-merge
    actions:
      comment:
        message: terima kasih atas kontribusinya @{{author}}!
      label:
        add:
            - sudah direview!
      merge:
        method: squash
  - name: java label
    conditions:
      - files~=\.java$
    actions:
      label:
        add:
          - java files
          - request tim java untuk review
  - name: markdown label
    conditions:
      - files~=\.md$
    actions:
      label:
        add:
          - markdown files
          - request docs team untuk review
  - name: review docs team untuk file markdown
    conditions:
      - label=markdown files
    actions:
      request_reviews:
        teams:
          - "@sautmanurung1"

  - name: review docs team untuk file markdown
    conditions:
      - label=java files
    actions:
      request_reviews:
        teams:
          - "@bellshade/java-team"

feat: menambahkan algoritma queue prioritas (#151)
  src/main/java/algorithm/datastructure/Queue/SourceCode/PriorityQueue.java
Due: java label

feat: menambahkan materi exception
  src/main/java/learn/basic/Exception/Exception.java
  src/main/java/learn/basic/Exception/README.md
Due: java label, markdown label

feat: menambahkan generic array list queue
  src/main/java/algorithm/datastructure/Queue/SourceCode/GenericArrayListQueue.java
Due: java label

feat: exclude bin
  .gitignore
Due: none

feat: menambahkan materi exception (#152)
  .gitignore
  src/main/java/learn/basic/Exception/Exception.java
  src/main/java/learn/basic/Exception/README.md
Due: java label, markdown label

feat: menambahkan datetime
  src/main/java/learn/basic/DateTime/Instant/InstantExample.java
  src/main/java/learn/basic/DateTime/LocalDate/LocalDateExample.java
  src/main/java/learn/basic/DateTime/LocalDateTime/LocalDateTimeExample.java
  src/main/java/learn/basic/DateTime/README.md
  src/main/java/learn/basic/DateTime/ZonedDateTime/ZonedDateTimeExample.java
Due: java label, markdown label

feat: menambahkan datetime (#155)
  src/main/java/learn/basic/DateTime/Instant/InstantExample.java
  src/main/java/learn/basic/DateTime/LocalDate/LocalDateExample.java
  src/main/java/learn/basic/DateTime/LocalDateTime/LocalDateTimeExample.java
  src/main/java/learn/basic/DateTime/README.md
  src/main/java/learn/basic/DateTime/ZonedDateTime/ZonedDateTimeExample.java
Due: java label, markdown label

feat: menambahkan docker container
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: none

feat: menambahkan docker container (#156)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: none

add: Menambahkana Catatan dalam Dependencies
  .devcontainer/README.md
Due: markdown label

add: Menambahkana Catatan dalam Dependencies (#157)
  .devcontainer/README.md
Due: markdown label

add: menambahkan binarySearch
  .gitignore
  src/main/java/algorithm/datastructure/Tree/BinaryTree/BinaryTree.java
Due: java label

add: menambahkan binarySearch (#158)
  .gitignore
  src/main/java/algorithm/datastructure/Tree/BinaryTree/BinaryTree.java
Due: java label

feat: menambahkan contoh sederhana array dinamis
  .classpath
  .factorypath
  .gitignore
  .project
  src/main/java/algorithm/datastructure/DynamicArray/DynamicArray.java
Due: java label

fix: menambahkan argument pada git ignore
  .gitignore
Due: none

fix: menghapus modul yang tidak dibutuhkan
  src/main/java/algorithm/datastructure/DynamicArray/DynamicArray.java
Due: java label

Dynamic array (#159)
  .classpath
  .factorypath
  .gitignore
  .project
  src/main/java/algorithm/datastructure/DynamicArray/DynamicArray.java
Due: java label

feat: menambahkan algoritma binary search tree mode rekursif
  src/main/java/algorithm/datastructure/Tree/BinarySearchTree/BinarySearchTreeRekursif.java
Due: java label

feat: menambahkan algoritma binary search tree mode rekursif (#160)
  src/main/java/algorithm/datastructure/Tree/BinarySearchTree/BinarySearchTreeRekursif.java
Due: java label

feat: menambahkan contoh dari double linked list
  src/main/java/algorithm/datastructure/LinkedList/SourceCode/DoubleLinkedList.java
Due: java label

feat: menambahkan contoh dari double linked list (#161)
  src/main/java/algorithm/datastructure/LinkedList/SourceCode/DoubleLinkedList.java
Due: java label

feat: menambahkan contoh dari cursor linked list
  src/main/java/algorithm/datastructure/LinkedList/SourceCode/CursorLinkedList.java
Due: java label

feat: menambahkan contoh dari cursor linked list (#162)
  src/main/java/algorithm/datastructure/LinkedList/SourceCode/CursorLinkedList.java
Due: java label

feat: menambahkan contoh konversi dari heksadesimal ke biner
  src/main/java/algorithm/conversions/HexadecimalToBinary.java
Due: java label

feat: menambahkan contoh konversi dari heksadesimal ke biner (#163)
  src/main/java/algorithm/conversions/HexadecimalToBinary.java
Due: java label

feat: menambahkan sorting bitonic
  src/main/java/algorithm/datastructure/Sorting/BitonicSorting.java
Due: java label

feat: menambahkan sorting bitonic (#164)
  src/main/java/algorithm/datastructure/Sorting/BitonicSorting.java
Due: java label

feat: menambahkan contoh dari infix ke postfix
  src/main/java/algorithm/datastructure/Stack/BalancedBracket.java
  src/main/java/algorithm/datastructure/Stack/InfixToPostfix.java
Due: java label

feat: menambahkan contoh dari infix ke postfix (#165)
  src/main/java/algorithm/datastructure/Stack/BalancedBracket.java
  src/main/java/algorithm/datastructure/Stack/InfixToPostfix.java
Due: java label

feat: menambahkan contoh dari quick sorting
  src/main/java/algorithm/datastructure/Sorting/AlgoritmaSorting.java
  src/main/java/algorithm/datastructure/Sorting/QuickSort.java
  src/main/java/algorithm/datastructure/Sorting/SortingUtilites.java
Due: java label

feat: menambahkan contoh dari quick sorting (#166)
  src/main/java/algorithm/datastructure/Sorting/AlgoritmaSorting.java
  src/main/java/algorithm/datastructure/Sorting/QuickSort.java
  src/main/java/algorithm/datastructure/Sorting/SortingUtilites.java
Due: java label

feat: menambahkan kd Tree
  src/main/java/algorithm/datastructure/Tree/KDTree.java
Due: java label

fix: memperbaiki issue satu line statement
  src/main/java/algorithm/datastructure/Tree/KDTree.java
Due: java label

add: implementasi http client java
  src/main/java/learn/intermediate/javahttpclient/HttpClientMain.java
  src/main/java/learn/intermediate/javahttpclient/README.md
  src/main/java/learn/intermediate/javahttpclient/dto/Firmness.java
  src/main/java/learn/intermediate/javahttpclient/dto/Flavor.java
  src/main/java/learn/intermediate/javahttpclient/dto/FlavorsItem.java
  src/main/java/learn/intermediate/javahttpclient/dto/Item.java
  src/main/java/learn/intermediate/javahttpclient/dto/NaturalGiftType.java
  src/main/java/learn/intermediate/javahttpclient/dto/PokemonDetailResponse.java
  src/main/java/learn/intermediate/javahttpclient/services/RestClientService.java
  src/main/java/learn/intermediate/javahttpclient/services/RestClientServiceImpl.java
Due: java label, markdown label

add: implementasi http client java (#168)
  src/main/java/learn/intermediate/javahttpclient/HttpClientMain.java
  src/main/java/learn/intermediate/javahttpclient/README.md
  src/main/java/learn/intermediate/javahttpclient/dto/Firmness.java
  src/main/java/learn/intermediate/javahttpclient/dto/Flavor.java
  src/main/java/learn/intermediate/javahttpclient/dto/FlavorsItem.java
  src/main/java/learn/intermediate/javahttpclient/dto/Item.java
  src/main/java/learn/intermediate/javahttpclient/dto/NaturalGiftType.java
  src/main/java/learn/intermediate/javahttpclient/dto/PokemonDetailResponse.java
  src/main/java/learn/intermediate/javahttpclient/services/RestClientService.java
  src/main/java/learn/intermediate/javahttpclient/services/RestClientServiceImpl.java
Due: java label, markdown label

add: implementasi java record
  src/main/java/learn/intermediate/javahttpclient/HttpClientMain.java
  src/main/java/learn/intermediate/javahttpclient/dto/PokemonDetailResponse.java
  src/main/java/learn/intermediate/javahttpclient/services/RestClientService.java
  src/main/java/learn/intermediate/javahttpclient/services/RestClientServiceImpl.java
  src/main/java/learn/intermediate/javarecord/JavaRecordMain.java
  src/main/java/learn/intermediate/javarecord/README.md
  src/main/java/learn/intermediate/javarecord/User.java
  src/main/java/learn/intermediate/javarecord/recorddto/Firmness.java
  src/main/java/learn/intermediate/javarecord/recorddto/Flavor.java
  src/main/java/learn/intermediate/javarecord/recorddto/FlavorsItem.java
  src/main/java/learn/intermediate/javarecord/recorddto/Item.java
  src/main/java/learn/intermediate/javarecord/recorddto/NaturalGiftType.java
  src/main/java/learn/intermediate/javarecord/recorddto/PokemonRecordResponse.java
Due: java label, markdown label

add: implementasi java record (#169)
  src/main/java/learn/intermediate/javahttpclient/HttpClientMain.java
  src/main/java/learn/intermediate/javahttpclient/dto/PokemonDetailResponse.java
  src/main/java/learn/intermediate/javahttpclient/services/RestClientService.java
  src/main/java/learn/intermediate/javahttpclient/services/RestClientServiceImpl.java
  src/main/java/learn/intermediate/javarecord/JavaRecordMain.java
  src/main/java/learn/intermediate/javarecord/README.md
  src/main/java/learn/intermediate/javarecord/User.java
  src/main/java/learn/intermediate/javarecord/recorddto/Firmness.java
  src/main/java/learn/intermediate/javarecord/recorddto/Flavor.java
  src/main/java/learn/intermediate/javarecord/recorddto/FlavorsItem.java
  src/main/java/learn/intermediate/javarecord/recorddto/Item.java
  src/main/java/learn/intermediate/javarecord/recorddto/NaturalGiftType.java
  src/main/java/learn/intermediate/javarecord/recorddto/PokemonRecordResponse.java
Due: java label, markdown label

add: implementasi java jdbc
  pom.xml
  src/main/java/learn/advanced/javajdbc/MainJdbc.java
  src/main/java/learn/advanced/javajdbc/README.md
  src/main/java/learn/advanced/javajdbc/config/JdbcConfig.java
  src/main/java/learn/advanced/javajdbc/dto/PersonRequest.java
  src/main/java/learn/advanced/javajdbc/dto/PersonResponse.java
  src/main/java/learn/advanced/javajdbc/model/Person.java
  src/main/java/learn/advanced/javajdbc/repository/BaseDao.java
  src/main/java/learn/advanced/javajdbc/repository/PersonRepository.java
  src/main/java/learn/advanced/javajdbc/service/PersonService.java
  src/main/java/learn/advanced/javajdbc/service/PersonServiceImpl.java
Due: java label, markdown label

add: implementasi java jdbc (#170)
  pom.xml
  src/main/java/learn/advanced/javajdbc/MainJdbc.java
  src/main/java/learn/advanced/javajdbc/README.md
  src/main/java/learn/advanced/javajdbc/config/JdbcConfig.java
  src/main/java/learn/advanced/javajdbc/dto/PersonRequest.java
  src/main/java/learn/advanced/javajdbc/dto/PersonResponse.java
  src/main/java/learn/advanced/javajdbc/model/Person.java
  src/main/java/learn/advanced/javajdbc/repository/BaseDao.java
  src/main/java/learn/advanced/javajdbc/repository/PersonRepository.java
  src/main/java/learn/advanced/javajdbc/service/PersonService.java
  src/main/java/learn/advanced/javajdbc/service/PersonServiceImpl.java
Due: java label, markdown label
