Repository bellshade/Java: changes, and which Mergify rules are due for each by the changed paths.
All: java label, markdown label

.mergify.yml:

pull_request_rules:
  - name: ci testing kalo sukses ke squash dengan label
    conditions:
      - check-success=build
      - base=main
      - label=ready-to-merge
    actions:
      merge:
        method: squash
  - name: java label
    conditions:
      - files~=\.java$
    actions:
      label:
        add:
          - java files
          - request tim java untuk review
  - name: markdown label
    conditions:
      - files~=\.md$
    actions:
      label:
        add:
          - markdown files
          - request docs team untuk review
  - name: review docs team untuk file markdown
    conditions:
      - label=markdown files
    actions:
      request_reviews:
        teams:
          - "@bellshade/docs-team"

  - name: review docs team untuk file markdown
    conditions:
      - label=java files
    actions:
      request_reviews:
        teams:
          - "@bellshade/jvm-team"

fix: remove error symbol pada pemanggilan kelas
  intermediate/JavaPolymorphism/JavaPolimorpis.java
Due: java label

feat: menambahkan java abstrak (#51)
  intermediate/JavaAbstrac/README.md
  intermediate/JavaAbstrac/abstrakTutorial.java
Due: java label, markdown label

fix: memperbaiki file untuk testing remote
  intermediate/JavaPolymorphism/JavaPolimorpis.java
Due: java label

feat: update java 17
  .github/workflows/buildjava.yml
Due: none

feat: testing jika sudah passed semua
  .mergify.yml
Due: none

feat: menambahkan badge discord
  README.md
Due: markdown label

fix: remove typo
  .mergify.yml
Due: none

fix: update testing mergify
  .mergify.yml
Due: none

feat: menambahkan badge discord (#57)
  README.md
Due: markdown label

fix: hapus sementara dikarenakan looping
  .mergify.yml
Due: none

feat: update bot
  .mergify.yml
Due: none

docs: update pull request template
  .github/pull_request_template.md
Due: markdown label

docs: update pull request template (#58)
  .github/pull_request_template.md
Due: markdown label

feat: menambah java date
  intermediate/JavaDate/JavaDate.java
  intermediate/JavaDate/README.md
Due: java label, markdown label

feat: menambah java date (#60)
  intermediate/JavaDate/JavaDate.java
  intermediate/JavaDate/README.md
Due: java label, markdown label

docs: README.md terbaru (sementara)
  README.md
Due: markdown label

docs: Update README.md (bersifat sementara)
  README.md
Due: markdown label

docs: README.md (sementara)
  README.md
Due: markdown label

docs: update README.md (sementara)
  README.md
Due: markdown label

docs: README.md terbaru (masih sementara)
  README.md
Due: markdown label

fix: menambahkan folder algorithm dan utillities
  algorithm/LogikaFuzzy/FuzzyTsukamoto.java
  algorithm/Sorting/insertionsort.java
  algorithm/backtracking/KnightsTour.java
  algorithm/backtracking/NQueen.java
  algorithm/conversion/BinaryToDecimal.java
  algorithm/conversion/DecimalToBinary.java
  algorithm/conversion/DecimalToHexadecimal.java
  algorithm/conversion/DecimalToOctal.java
  algorithm/conversion/HexadecimalToDecimal.java
  algorithm/conversion/HexadecimalToOctal.java
  algorithm/conversion/IntegerToRoman.java
  algorithm/conversion/OctalToDecimal.java
  algorithm/conversion/RomanToInteger.java
  algorithm/math/AbsoluteMax.java
  utilities/JavaDate/JavaDate.java
  utilities/JavaDate/README.md
Due: java label, markdown label

docs: perubahan README.md (sementara)
  README.md
Due: markdown label

docs: memperbaharui README.md (sementara)
  README.md
Due: markdown label

fix: merapihkan folder
  welcome.java
Due: java label

docs: memperbaiki dokumentasi README.md
  README.md
Due: markdown label

docs: Update README.md
  README.md
Due: markdown label

fix: Memperbaiki Syntax pada Java
  welcome.java
Due: java label

fix: merapihkan folder
  basic/MultiDimentionalArray/MultidimensionalArray.java
  welcome.java
Due: java label

feat: adding java enum
  intermediate/JavaEnum/Main.java
  intermediate/JavaEnum/README.md
Due: java label, markdown label

fix: retest
  .github/workflows/prettify.yml
Due: none

Prettified Code!
  welcome.java
Due: java label

fix: reformat kode
  .github/workflows/prettify.yml
Due: none

feat: adding java enum (#63)
  intermediate/JavaEnum/Main.java
  intermediate/JavaEnum/README.md
Due: java label, markdown label

docs: Update README.md (sementara)
  README.md
Due: markdown label
