Repository bellshade/Java: changes, and which Mergify rules are due for each by the changed paths.
All: java label, markdown label

.mergify.yml:

pull_request_rules:
  - name: ci testing kalo sukses ke squash dengan label
    conditions:
      - check-success=build
      - base=main
      - label=ready-to-merge
    actions:
      comment:
        message: terima kasih atas kontribusinya @{{author}}!
      label:
        add:
            - sudah direview!
      merge:
        method: squash
  - name: java label
    conditions:
      - files~=\.java$
    actions:
      label:
        add:
          - java files
          - request tim java untuk review
  - name: markdown label
    conditions:
      - files~=\.md$
    actions:
      label:
        add:
          - markdown files
          - request docs team untuk review
  - name: review docs team untuk file markdown
    conditions:
      - label=markdown files
    actions:
      request_reviews:
        teams:
          - "@sautmanurung1"

  - name: review docs team untuk file markdown
    conditions:
      - label=java files
    actions:
      request_reviews:
        teams:
          - "@bellshade/java-team"

docs: Menambahin pemahaman panduan
  learn/basic/StrukturKontrol/Percabangan/README.md
Due: markdown label

docs: Menambahkan panduan Materi
  learn/basic/StrukturKontrol/Percabangan/If/README.md
Due: markdown label

docs: Menambah Readme/Dokumentasi pada method Overloading dan Method Parameter (#83)
  learn/basic/MethodJava/MethodOverloading/MethodOverloading.java
  learn/basic/MethodJava/MethodOverloading/README.md
  learn/basic/MethodJava/MethodParameter/MethodParameter.java
  learn/basic/MethodJava/MethodParameter/README.md
Due: java label, markdown label

docs: Menambah Readme/Dokumentasi pada method Overloading dan Method Parameter
  learn/basic/MethodJava/MethodOverloading/MethodOverloading.java
  learn/basic/MethodJava/MethodOverloading/README.md
  learn/basic/MethodJava/MethodParameter/MethodParameter.java
  learn/basic/MethodJava/MethodParameter/README.md
Due: java label, markdown label

docs: Menambah panduan pembelajaran
  learn/basic/StrukturKontrol/Percabangan/If-Else/README.md
Due: markdown label

docs: Menambah panduan pemahaman pemrograman
  learn/basic/StrukturKontrol/Percabangan/ElseIf/README.md
Due: markdown label

docs: Menambahkan panduan pemrograman
  learn/basic/StrukturKontrol/Percabangan/NestedIf/README.md
Due: markdown label

fix: Merapihkan folder
  learn/basic/Array/BasicArray/BasicArray.java
  learn/basic/Array/MultiDimentionalArray/MultidimensionalArray.java
Due: java label

docs: dokumentasi untuk folder sorting
  algorithm/data-structure/Sorting/README.md
Due: markdown label

feat: Menambahkan Algoritma dan Dokumentasi baru
  algorithm/data-structure/Array/ArrayDimensiSatu/ArraySatuD.java
  algorithm/data-structure/Array/ArrayDimensiSatu/README.md
  algorithm/data-structure/Array/README.md
Due: java label, markdown label

docs: dokumentasi untuk folder sorting (#84)
  algorithm/data-structure/Sorting/README.md
Due: markdown label

docs: memperbaharui panduan pembacaan Array
  algorithm/data-structure/Array/README.md
Due: markdown label

docs: Menambahkan Dokumentasi baru
  learn/basic/Array/README.md
Due: markdown label

docs: Menambahkan Dokumentasi baru
  CONTRIBUTING.md
  learn/basic/Looping/For/README.md
  learn/basic/Looping/README.md
  learn/basic/Looping/While/README.md
Due: markdown label

fix: Merapihkan folder
  learn/basic/Operator/Aritmatika/Aritmatika.java
  learn/basic/Operator/Logika/Logical.java
  learn/basic/Operator/Penugasan/Assignment.java
  learn/basic/Operator/Perbandingan/Comparison.java
Due: java label

fix: Memperbaiki kesalahan penulisan
  learn/basic/Operator/Komparasi/Comparison.java
Due: java label

feat: Menambahkan Algoirtma baru
  learn/basic/Operator/README.md
  learn/basic/Operator/Unary/Bitwise.java
  learn/basic/Operator/Unary/IncreDecre.java
  learn/basic/Operator/Unary/Negation.java
Due: java label, markdown label

docs: Memperbaharui panduan pembelajaran
  learn/basic/Operator/README.md
Due: markdown label

fix: Merapihkan folder
  learn/basic/Operator/Unary/Bitwise/Bitwise.java
  learn/basic/Operator/Unary/IncreDecre/IncreDecre.java
  learn/basic/Operator/Unary/Negasi/Negation.java
Due: java label

docs: Menambahkan dokumentasi baru
  learn/basic/String/README.md
Due: markdown label

add: Menambah Algoritma baru (MethodOverriding) beserta dokumentasi
  learn/basic/MethodJava/MethodOverriding/MethodOverriding.java
  learn/basic/MethodJava/MethodOverriding/README.md
Due: java label, markdown label

add: Menambah Algoritma baru (MethodOverriding) beserta dokumentasi (#91)
  learn/basic/MethodJava/MethodOverriding/MethodOverriding.java
  learn/basic/MethodJava/MethodOverriding/README.md
Due: java label, markdown label

docs: Memperbaharui dokumentasi
  algorithm/data-structure/README.md
Due: markdown label

docs: Memperbaharui utilities repo
  .github/CODEOWNERS
Due: none

docs: Memperbaharui utilities Repo
  BASIC.md
Due: markdown label

feat: menambahkan materi array dua dimensi
  algorithm/data-structure/Array/ArrayDimensiDua/ArrayDuaD.java
  algorithm/data-structure/Array/ArrayDimensiDua/README.md
Due: java label, markdown label

feat: menambahkan materi array 3 dimensi
  algorithm/data-structure/Array/ArrayDimensiTiga/ArrayDimensiTiga.java
  algorithm/data-structure/Array/ArrayDimensiTiga/README.md
  sources.txt
Due: java label, markdown label

docs: Menambahkan panduan baru
  algorithm/data-structure/README.md
Due: markdown label

docs: Memperbaharui README.md
  algorithm/data-structure/Array/README.md
Due: markdown label

docs: memperbaiki bahasa dan tulisan README.md
  README.md
Due: markdown label

docs: memperbaiki tulisan README.md rev.2
  README.md
Due: markdown label

docs: memperbaiki bahasa dan tulisan README.md (#93)
  README.md
Due: markdown label

docs: Memperbaharui Dokumentasi
  README.md
Due: markdown label

feat: Add Stack Data Structure
  algorithm/data-structure/Stack/README.md
  algorithm/data-structure/Stack/Stack.java
Due: java label, markdown label

add: Package
  .gitignore
  learn/intermediate/JavaLambdaExpressions/Lambda.java
  learn/intermediate/JavaLambdaExpressions/README.md
Due: java label, markdown label

feat: Add Stack Data Structure (#94)
  algorithm/data-structure/Stack/README.md
  algorithm/data-structure/Stack/Stack.java
Due: java label, markdown label

docs: Memperbaharui Dokumentasi
  learn/intermediate/object_oriented_programming/oop_intermediate/README.md
Due: markdown label

feat: Menambahkan Algoritma dan Dokumentasi Baru
  algorithm/data-structure/LinkedList/README.md
  algorithm/data-structure/LinkedList/SourceCode/LinkedListSatu.java
Due: java label, markdown label

feat: Menambahkan Algoritma dan Dokumentasi Baru
  algorithm/data-structure/LinkedList/SourceCode/LinkedListSatu.java
Due: java label
