Repository bellshade/Java: changes, and which Mergify rules are due for each by the changed paths.
All: java label, markdown label

java label:
  label:
    add:
    - java files
    - request tim java untuk review

markdown label:
  label:
    add:
    - markdown files
    - request docs team untuk review

feat: menambahkan fenwick tree
  src/main/java/algorithm/datastructure/Tree/FenwickTree.java
Due: java label

add: penjelasan JavaBase64Encoder (#134)
  src/main/java/utilities/JavaBase64Encoder/JavaBase64Encoder.java
  src/main/java/utilities/JavaBase64Encoder/README.md
  src/main/java/utilities/JavaBase64Encoder/img/getEncoderMethod.png
Due: java label, markdown label

add: penjelasan JavaBase64Encoder
  src/main/java/utilities/JavaBase64Encoder/JavaBase64Encoder.java
  src/main/java/utilities/JavaBase64Encoder/README.md
  src/main/java/utilities/JavaBase64Encoder/img/getEncoderMethod.png
Due: java label, markdown label

add: penjelasan JavaBase64Decoder
  src/main/java/utilities/JavaBase64Decoder/JavaBase64Decoder.java
  src/main/java/utilities/JavaBase64Decoder/README.md
  src/main/java/utilities/JavaBase64Decoder/img/getDecoderMethod.png
Due: java label, markdown label

add: penjelasan JavaBase64Decoder (#135)
  src/main/java/utilities/JavaBase64Decoder/JavaBase64Decoder.java
  src/main/java/utilities/JavaBase64Decoder/README.md
  src/main/java/utilities/JavaBase64Decoder/img/getDecoderMethod.png
Due: java label, markdown label

feat: menambahkan fenwick tree (#133)
  src/main/java/algorithm/datastructure/Tree/FenwickTree.java
Due: java label

add: penjelasan JavaLongSummaryStatistics, fix: error package name
  src/main/java/learn/advanced/quickMath/QuickMath.java
  src/main/java/utilities/JavaLongSummaryStatistics/JavaLongSummaryStatistics.java
  src/main/java/utilities/JavaLongSummaryStatistics/README.md
  src/main/java/utilities/JavaLongSummaryStatistics/img/JavaLongSummaryStatisticsMethods.png
Due: java label, markdown label

add: penjelasan JavaLongSummaryStatistics, fix: error package name (#137)
  src/main/java/learn/advanced/quickMath/QuickMath.java
  src/main/java/utilities/JavaLongSummaryStatistics/JavaLongSummaryStatistics.java
  src/main/java/utilities/JavaLongSummaryStatistics/README.md
  src/main/java/utilities/JavaLongSummaryStatistics/img/JavaLongSummaryStatisticsMethods.png
Due: java label, markdown label

docs: Memperbaharui Dokumentasi
  README.md
Due: markdown label

docs: Memperbaharui Dokumentasi (#138)
  README.md
Due: markdown label

fix: Memperbaiki Utilitas Repo
  .github/CODEOWNERS
Due: none

Dayan (#139)
  .github/CODEOWNERS
Due: none

fix: Memperbaiki utilitas repo
  .github/pull_request_template.md
  .github/workflows/prettify.yml
Due: markdown label

Added m-coloring problem in Java using Backtracking
  src/main/java/algorithm/backtracking/Mcolor.java
Due: java label

fix: Memperbaiki utilitas repo (#140)
  .github/pull_request_template.md
  .github/workflows/prettify.yml
Due: markdown label

add: penjelasan generic bounded
  src/main/java/learn/intermediate/JavaGeneric/GenericClassBounded/AbstractEntity.java
  src/main/java/learn/intermediate/JavaGeneric/GenericClassBounded/DataEntity.java
  src/main/java/learn/intermediate/JavaGeneric/GenericClassBounded/Jaket.java
  src/main/java/learn/intermediate/JavaGeneric/GenericClassBounded/MainGenericClassBounded.java
  src/main/java/learn/intermediate/JavaGeneric/GenericClassBounded/README.md
Due: java label, markdown label

add: penjelasan generic bounded (#143)
  src/main/java/learn/intermediate/JavaGeneric/GenericClassBounded/AbstractEntity.java
  src/main/java/learn/intermediate/JavaGeneric/GenericClassBounded/DataEntity.java
  src/main/java/learn/intermediate/JavaGeneric/GenericClassBounded/Jaket.java
  src/main/java/learn/intermediate/JavaGeneric/GenericClassBounded/MainGenericClassBounded.java
  src/main/java/learn/intermediate/JavaGeneric/GenericClassBounded/README.md
Due: java label, markdown label

docs: mengganti base url visitor badge
  README.md
Due: markdown label

docs: mengganti base url visitor badge (#144)
  README.md
Due: markdown label

add: menambahkan java json
  pom.xml
  src/main/java/learn/intermediate/JavaJSON/JacksonObjectMapper.java
  src/main/java/learn/intermediate/JavaJSON/README.md
Due: java label, markdown label

add: menambahkan java json (#145)
  pom.xml
  src/main/java/learn/intermediate/JavaJSON/JacksonObjectMapper.java
  src/main/java/learn/intermediate/JavaJSON/README.md
Due: java label, markdown label

add: menambahkan java predicate
  src/main/java/learn/intermediate/JavaPredicate/JavaPredicate.java
  src/main/java/learn/intermediate/JavaPredicate/README.md
Due: java label, markdown label

add: menambahkan java predicate (#146)
  src/main/java/learn/intermediate/JavaPredicate/JavaPredicate.java
  src/main/java/learn/intermediate/JavaPredicate/README.md
Due: java label, markdown label

add: menambahkan enchaned switch statement
  README.md
  src/main/java/learn/advanced/EnhancedSwitchStatement/README.md
Due: markdown label

docs: Mematikan sementara Visitor Badge
  README.md
Due: markdown label

docs: Mematikan sementara Visitor Badge (#148)
  README.md
Due: markdown label

docs: memperbaiki documentasi
  README.md
Due: markdown label

Update README.md
  README.md
Due: markdown label

docs: memperbaiki documentasi (#149)
  README.md
Due: markdown label

feat: menambahkan algoritma kombinasi permutasi backtracking
  src/main/java/algorithm/backtracking/Kombinasi.java
  src/test/java/algorithm/backtracking/KombinasiTest.java
Due: java label

fix: memperbaiki error pada line 41
  src/main/java/algorithm/backtracking/Kombinasi.java
Due: java label

fix: mencoba memperbaiki kesalahan pada kelas
  src/test/java/algorithm/backtracking/KombinasiTest.java
Due: java label

fix: memperbaiki error typo pada list ke
  src/main/java/algorithm/backtracking/Kombinasi.java
Due: java label

fix: delete directory
  src/test/java/algorithm/backtracking/KombinasiTest.java
Due: java label

feat: menambahkan algoritma kombinasi permutasi backtracking (#150)
  src/main/java/algorithm/backtracking/Kombinasi.java
Due: java label

feat: menambahkan algoritma queue prioritas
  src/main/java/algorithm/backtracking/Permutasi.java
  src/main/java/algorithm/datastructure/Queue/SourceCode/PriorityQueue.java
Due: java label

fix: menghapus file permutasi
  src/main/java/algorithm/backtracking/Permutasi.java
Due: java label

fix: memperbaiki titik koma pada fungsi ``throw``
  src/main/java/algorithm/datastructure/Queue/SourceCode/PriorityQueue.java
Due: java label

fix: memperbaiki identifier
  src/main/java/algorithm/datastructure/Queue/SourceCode/PriorityQueue.java
Due: java label

fix: memperbaiki cannot find symbol java.lang.String
  src/main/java/algorithm/datastructure/Queue/SourceCode/PriorityQueue.java
Due: java label

Path conditions:
  java label: any of: \.java$
  markdown label: any of: \.md$
