Repository bellshade/Java: changes, and which Mergify rules are due for each by the changed paths.
All: java label, markdown label

java label:
  label:
    add:
    - java files
    - request tim java untuk review

markdown label:
  label:
    add:
    - markdown files
    - request docs team untuk review

docs: Update README.md (sementara)
  README.md
Due: markdown label

feat: Menambah ImageProcessing Java
  learn/advanced/ImageProcessing/ColoredImage-GrayScale/Main.java
  learn/advanced/ImageProcessing/ColoredImage-GrayScale/src/F1-Lewis-Hamilton.jpg
  learn/advanced/ImageProcessing/ColoredImage-GrayScale/src/greyscale.jpg
Due: java label

docs: update Mergify
  .mergify.yml
Due: none

fix: memperbaharui program
  learn/advanced/ImageProcessing/ColoredImage-GrayScale/Programnya.java
Due: java label

docs: Update mergify
  .mergify.yml
Due: none

fix: Merapihkan Repository
  learn/intermediate/Object Oriented Programming (OOP)/AtributKelas.java
  learn/intermediate/Object Oriented Programming (OOP)/KelasDanMethod.java
  learn/intermediate/Object Oriented Programming (OOP)/KelasDanObjek.java
  learn/intermediate/Object Oriented Programming (OOP)/README.md
  learn/intermediate/Object Oriented Programming (OOP)/oop_basic/Encapsulation/ContohEncapsulation.java
  learn/intermediate/Object Oriented Programming (OOP)/oop_basic/Encapsulation/Main.java
  learn/intermediate/Object Oriented Programming (OOP)/oop_basic/Encapsulation/readme.md
  learn/intermediate/Object Oriented Programming (OOP)/oop_basic/Inheritance/InheritanceJava.java
  learn/intermediate/Object Oriented Programming (OOP)/oop_basic/Inheritance/README.md
  learn/intermediate/Object Oriented Programming (OOP)/oop_basic/Polymorphism/JavaPolimorpis.java
  learn/intermediate/Object Oriented Programming (OOP)/oop_basic/Polymorphism/README.md
Due: java label, markdown label

fix: Merapihkan Folder di Repo
  learn/intermediate/Object_Oriented_Programming (OOP)/AtributKelas.java
  learn/intermediate/Object_Oriented_Programming (OOP)/KelasDanMethod.java
  learn/intermediate/Object_Oriented_Programming (OOP)/KelasDanObjek.java
  learn/intermediate/Object_Oriented_Programming (OOP)/README.md
  learn/intermediate/Object_Oriented_Programming (OOP)/oop_basic/Encapsulation/ContohEncapsulation.java
  learn/intermediate/Object_Oriented_Programming (OOP)/oop_basic/Encapsulation/Main.java
  learn/intermediate/Object_Oriented_Programming (OOP)/oop_basic/Encapsulation/readme.md
  learn/intermediate/Object_Oriented_Programming (OOP)/oop_basic/Inheritance/InheritanceJava.java
  learn/intermediate/Object_Oriented_Programming (OOP)/oop_basic/Inheritance/README.md
  learn/intermediate/Object_Oriented_Programming (OOP)/oop_basic/Polymorphism/JavaPolimorpis.java
  learn/intermediate/Object_Oriented_Programming (OOP)/oop_basic/Polymorphism/README.md
Due: java label, markdown label

fix: Memperbaiki source-code
  learn/intermediate/Object_Oriented_Programming (OOP)/oop_basic/Encapsulation/EncasulaptionLainnya.java
Due: java label

feat: Menambah java interface
  learn/intermediate/JavaInterface/README.md
  learn/intermediate/JavaInterface/interfaceJava.java
Due: java label, markdown label

Update .mergify.yml
  .mergify.yml
Due: none

fix: memperbaiki package error import
  learn/intermediate/Object_Oriented_Programming/AtributKelas.java
  learn/intermediate/Object_Oriented_Programming/KelasDanMethod.java
  learn/intermediate/Object_Oriented_Programming/KelasDanObjek.java
  learn/intermediate/Object_Oriented_Programming/README.md
  learn/intermediate/Object_Oriented_Programming/oop_basic/Encapsulation/ContohEncapsulation.java
  learn/intermediate/Object_Oriented_Programming/oop_basic/Encapsulation/EncasulaptionLainnya.java
  learn/intermediate/Object_Oriented_Programming/oop_basic/Encapsulation/readme.md
  learn/intermediate/Object_Oriented_Programming/oop_basic/Inheritance/InheritanceJava.java
  learn/intermediate/Object_Oriented_Programming/oop_basic/Inheritance/README.md
  learn/intermediate/Object_Oriented_Programming/oop_basic/Polymorphism/JavaPolimorpis.java
  learn/intermediate/Object_Oriented_Programming/oop_basic/Polymorphism/README.md
Due: java label, markdown label

fix: penamaan class menggunakan PascalCase
  learn/intermediate/JavaInterface/README.md
  learn/intermediate/JavaInterface/interfaceJava.java
Due: java label, markdown label

fix: Merapihkan Folder
  learn/intermediate/object_oriented_programming/oop_basic/README.md
  learn/intermediate/object_oriented_programming/oop_basic/class_n_attribute/AtributKelas.java
  learn/intermediate/object_oriented_programming/oop_basic/class_n_method/KelasDanMethod.java
  learn/intermediate/object_oriented_programming/oop_basic/class_n_object/KelasDanObjek.java
  learn/intermediate/object_oriented_programming/oop_intermediate/Encapsulation/ContohEncapsulation.java
  learn/intermediate/object_oriented_programming/oop_intermediate/Encapsulation/EncasulaptionLainnya.java
  learn/intermediate/object_oriented_programming/oop_intermediate/Encapsulation/readme.md
  learn/intermediate/object_oriented_programming/oop_intermediate/Inheritance/InheritanceJava.java
  learn/intermediate/object_oriented_programming/oop_intermediate/Inheritance/README.md
  learn/intermediate/object_oriented_programming/oop_intermediate/Polymorphism/JavaPolimorpis.java
  learn/intermediate/object_oriented_programming/oop_intermediate/Polymorphism/README.md
Due: java label, markdown label

fix: Merapihkan Folder
  learn/basic/HelloWorld.java
  learn/intermediate/JavaEnum/JavaEnum.java
  learn/intermediate/JavaKonstrutktor/Constructor.java
Due: java label

fix: Memperbaiki Code
  welcome.java
Due: java label

Prettified Code!
  welcome.java
Due: java label

docs: Update BASIC.md
  BASIC.md
Due: markdown label

docs: Update README.md
  README.md
Due: markdown label

docs: Memperbaharui README.md
  README.md
Due: markdown label

fix: memperbaiki mention dari bot
  .mergify.yml
Due: none

Update ContohEncapsulation.java
  learn/intermediate/object_oriented_programming/oop_intermediate/Encapsulation/ContohEncapsulation.java
Due: java label

Update EncasulaptionLainnya.java
  learn/intermediate/object_oriented_programming/oop_intermediate/Encapsulation/EncasulaptionLainnya.java
Due: java label

Update InheritanceJava.java
  learn/intermediate/object_oriented_programming/oop_intermediate/Inheritance/InheritanceJava.java
Due: java label

Update interfaceJava.java
  learn/intermediate/JavaInterface/interfaceJava.java
Due: java label

fix: Memperbaiki dan Merapihkan Folder
  learn/basic/Recursive/Recursive.java
Due: java label

docs: Revolusi README.md
  README.md
Due: markdown label

feat: menambahkan informasi pada mergify
  .mergify.yml
Due: none

docs: Revolusi README.md (#68)
  README.md
Due: markdown label

docs: Update README.md
  learn/intermediate/JavaAbstrac/README.md
Due: markdown label

feat: Menambahkan Java GUI
  learn/advanced/Java-GUI/README.md
  learn/advanced/Java-GUI/Swing/JPanel-with-JLabel/Clean-JPanel/MembuatGUISendiri.java
  learn/advanced/Java-GUI/Swing/JPanel-with-JLabel/Colorful-JPanel/ContohPanel.java
  learn/advanced/Java-GUI/Swing/README.md
Due: java label, markdown label

feat: Menambahkan Java GUI (#70)
  learn/advanced/Java-GUI/README.md
  learn/advanced/Java-GUI/Swing/JPanel-with-JLabel/Clean-JPanel/MembuatGUISendiri.java
  learn/advanced/Java-GUI/Swing/JPanel-with-JLabel/Colorful-JPanel/ContohPanel.java
  learn/advanced/Java-GUI/Swing/README.md
Due: java label, markdown label

docs: Memperbaiki README.md
  README.md
Due: markdown label

feat: java user input
  learn/intermediate/UserInput/README.md
  learn/intermediate/UserInput/UserInput.java
Due: java label, markdown label

feat: java user input (#71)
  learn/intermediate/UserInput/README.md
  learn/intermediate/UserInput/UserInput.java
Due: java label, markdown label

lambda and update .gitignore
  .gitignore
  learn/advanced/JavaLambdaExpressions/Lambda.java
  learn/advanced/JavaLambdaExpressions/README.md
Due: java label, markdown label

add package
  learn/advanced/JavaLambdaExpressions/Lambda.java
Due: java label

refactor package
  learn/intermediate/JavaLambdaExpressions/Lambda.java
  learn/intermediate/JavaLambdaExpressions/README.md
Due: java label, markdown label

Path conditions:
  java label: any of: \.java$
  markdown label: any of: \.md$
