Repository bellshade/Java: changes, and which Mergify rules are due for each by the changed paths.
All: java label, markdown label

.mergify.yml:

pull_request_rules:
  - name: ci testing kalo sukses ke squash dengan label
    conditions:
      - check-success=build
      - base=main
      - label=ready-to-merge
    actions:
      comment:
        message: terima kasih atas kontribusinya @{{author}}!
      label:
        add:
            - sudah direview!
      merge:
        method: squash
  - name: java label
    conditions:
      - files~=\.java$
    actions:
      label:
        add:
          - java files
          - request tim java untuk review
  - name: markdown label
    conditions:
      - files~=\.md$
    actions:
      label:
        add:
          - markdown files
          - request docs team untuk review
  - name: review docs team untuk file markdown
    conditions:
      - label=markdown files
    actions:
      request_reviews:
        teams:
          - "@sautmanurung1"

  - name: review docs team untuk file markdown
    conditions:
      - label=java files
    actions:
      request_reviews:
        teams:
          - "@bellshade/java-team"

feat: java lambda expression (#72)
  .gitignore
  learn/intermediate/JavaLambdaExpressions/Lambda.java
  learn/intermediate/JavaLambdaExpressions/README.md
Due: java label, markdown label

docs: Update README.md
  README.md
Due: markdown label

feat: Algoritma Selection Sort
  algorithm/Sorting/SelectionSort.java
Due: java label

fix: rename kelas
  algorithm/Sorting/SelectionSort.java
Due: java label

feat: Algoritma Bubble Sort
  algorithm/Sorting/BubbleSort.java
Due: java label

fix: curly braces setelah parenthesis
  algorithm/Sorting/BubbleSort.java
Due: java label

fix: curly braces setelah parenthesis
  algorithm/Sorting/SelectionSort.java
Due: java label

feat: Algoritma Bubble Sort (#75)
  algorithm/Sorting/BubbleSort.java
Due: java label

feat: Algoritma Selection Sort (#74)
  algorithm/Sorting/SelectionSort.java
Due: java label

fix: Menambahkan Folder Struktur Data
  algorithm/data-structure/Sorting/BubbleSort.java
  algorithm/data-structure/Sorting/SelectionSort.java
  algorithm/data-structure/Sorting/insertionsort.java
Due: java label

docs: Menambahkan panduan Struktur Data
  algorithm/data-structure/README.md
Due: markdown label

add: menambahkan materi Overloading dan overriding
  .github/pull_request_template.md
  learn/intermediate/object_oriented_programming/oop_intermediate/Overloading/Overloading.java
  learn/intermediate/object_oriented_programming/oop_intermediate/Overloading/README.md
  learn/intermediate/object_oriented_programming/oop_intermediate/Overriding/Overriding.java
  learn/intermediate/object_oriented_programming/oop_intermediate/Overriding/README.md
Due: java label, markdown label

fix: Merapihkan Folder
  learn/intermediate/object_oriented_programming/oop_intermediate/Abstract/README.md
  learn/intermediate/object_oriented_programming/oop_intermediate/Abstract/abstrakTutorial.java
Due: java label, markdown label

docs: Menambahkan README.md
  learn/intermediate/object_oriented_programming/oop_intermediate/README.md
Due: markdown label

docs: Memperbaharui README.md
  learn/intermediate/object_oriented_programming/oop_intermediate/README.md
Due: markdown label

docs: Memperbaiki kesalahan penulisan
  learn/intermediate/object_oriented_programming/oop_intermediate/README.md
Due: markdown label

feat: Memperbaiki program
  learn/advanced/Java-GUI/Swing/JPanel-with-JButton/programnya.java
  learn/advanced/Java-GUI/Swing/JPanel-with-JLabel/Clean-JPanel/MembuatGUISendiri.java
  learn/advanced/Java-GUI/Swing/JPanel-with-JLabel/Clean-JPanel/programnya.java
  learn/advanced/Java-GUI/Swing/JPanel-with-JLabel/Colorful-JPanel/ContohPanel.java
  learn/advanced/Java-GUI/Swing/JPanel-with-JLabel/Colorful-JPanel/programnya.java
Due: java label

docs: Memperbaiki kesalahan
  CONTRIBUTING.md
Due: markdown label

feat: Menambahkan algoritma baru
  learn/advanced/Java-GUI/Swing/JPanel-with-JButton/Programnya.java
  learn/advanced/Java-GUI/Swing/JPanel-with-JLabel/Clean-JPanel/MembuatGUISendiri.java
  learn/advanced/Java-GUI/Swing/JPanel-with-JLabel/Clean-JPanel/Programnya.java
  learn/advanced/Java-GUI/Swing/JPanel-with-JLabel/Colorful-JPanel/ContohPanel.java
  learn/advanced/Java-GUI/Swing/JPanel-with-JLabel/Colorful-JPanel/Programnya.java
Due: java label

fix: Memperbaiki penulisan
  learn/advanced/Java-GUI/Swing/JPanel-with-JLabel/Clean-JPanel/MembuatGUISendiri.java
  learn/advanced/Java-GUI/Swing/JPanel-with-JLabel/Clean-JPanel/Program_Utama.java
  learn/advanced/Java-GUI/Swing/JPanel-with-JLabel/Colorful-JPanel/ContohPanel.java
  learn/advanced/Java-GUI/Swing/JPanel-with-JLabel/Colorful-JPanel/Program_Utama.java
Due: java label

fix: Memperbaiki algoritma
  learn/advanced/Java-GUI/Swing/JPanel-with-JLabel/Clean-JPanel/Program_Utama.java
  learn/advanced/Java-GUI/Swing/JPanel-with-JLabel/Colorful-JPanel/Program_Utama.java
Due: java label

fix: Memperbaiki Algoritma
  learn/advanced/Java-GUI/Swing/JPanel-with-JLabel/Clean-JPanel/CleanJPanel.java
  learn/advanced/Java-GUI/Swing/JPanel-with-JLabel/Colorful-JPanel/ColorfulJPanel.java
Due: java label

feat: Menambahkan program baru
  learn/advanced/Java-GUI/Swing/JPanel-with-JButton/JButtonJPanel.java
Due: java label

feat: Menambahkan Algoritma baru
  learn/basic/LoopingPerulangan/DoWhile.java
  learn/basic/LoopingPerulangan/ForStatement.java
  learn/basic/LoopingPerulangan/README.md
  learn/basic/LoopingPerulangan/WhileLooping.java
  learn/basic/StatementPilihan/Percabangan/If-Else If-Else/IfElseIfElse.java
  learn/basic/StatementPilihan/Percabangan/If/OnlyIf.java
  learn/basic/StatementPilihan/Percabangan/IfElse/IfElse.java
  learn/basic/StatementPilihan/Percabangan/Nested-If/NestedIf.java
  learn/basic/StatementPilihan/SwitchCase/SwitchJava.java
Due: java label, markdown label

fix: Merapihkan Folder
  learn/basic/Looping/DoWhile.java
  learn/basic/Looping/ForStatement.java
  learn/basic/Looping/README.md
  learn/basic/Looping/WhileLooping.java
  learn/basic/StatementPilihan/Percabangan/If_ElseIf_Else/IfElse.java
  learn/basic/StatementPilihan/SwitchCase/SwitchJava.java
Due: java label, markdown label

feat: Menambahkan algoritma baru
  learn/basic/StatementPilihan/Percabangan/If/OnlyIf.java
  learn/basic/StatementPilihan/Percabangan/If_Else/IfElse.java
  learn/basic/StatementPilihan/Percabangan/If_ElseIf_Else/IfElseIfElse.java
  learn/basic/StatementPilihan/Percabangan/Nested_If/NestedIf.java
Due: java label

docs: Memperbaharui README.md
  README.md
Due: markdown label

docs: Menambah dan memperbaiki README.md
  README.md
Due: markdown label

fix: Mengubah nama Folder
  learn/basic/StrukturKontrol/Percabangan/If_ElseIf_Else/IfElse.java
  learn/basic/StrukturKontrol/SwitchCase/SwitchJava.java
Due: java label

fix: Merapihkan Folder Pembelajaran
  learn/basic/Looping/Do-While/DoWhile.java
  learn/basic/Looping/Do-While/README.md
  learn/basic/Looping/For/ForStatement.java
  learn/basic/Looping/While/WhileLooping.java
Due: java label, markdown label

docs: Menambahkan panduan README.md
  learn/basic/StrukturKontrol/Percabangan/README.md
Due: markdown label

docs: Memnambah Panduan README.md
  learn/basic/StrukturKontrol/Percabangan/README.md
Due: markdown label

docs: Menambahkan panduan
  learn/basic/StrukturKontrol/SwitchCase/README.md
Due: markdown label

fix: Memperbaiki kesalahan penulisan
  learn/basic/StrukturKontrol/Percabangan/If-Else/IfElse.java
Due: java label

feat: Menambah Algoritma Baru
  learn/basic/StrukturKontrol/Percabangan/If-Else If-Else/ElseIf.java
  learn/basic/StrukturKontrol/Percabangan/If/OnlyIf.java
  learn/basic/StrukturKontrol/Percabangan/NestedIf/NestedIf.java
Due: java label

fix: Memperbaiki Algoritma
  learn/basic/StatementPilihan/Percabangan/If_ElseIf_Else/ElseIf.java
Due: java label

fix: Memperbaiki masalah penempatan folder
  learn/basic/StatementPilihan/Percabangan/If/OnlyIf.java
  learn/basic/StatementPilihan/Percabangan/If_Else/IfElse.java
  learn/basic/StatementPilihan/Percabangan/If_ElseIf_Else/ElseIf.java
  learn/basic/StatementPilihan/Percabangan/Nested_If/NestedIf.java
Due: java label

fix: Memperbaiki kesalahan penulisan
  learn/basic/StrukturKontrol/Percabangan/ElseIf/ElseIf.java
Due: java label
