Repository bellshade/Java: changes, and which Mergify rules are due for each by the changed paths.
All: java label, markdown label

.mergify.yml:

pull_request_rules:
  - name: ci testing kalo sukses ke squash dengan label
    conditions:
      - check-success=build
      - base=main
      - label=ready-to-merge
    actions:
      comment:
        message: terima kasih atas kontribusinya @{{author}}!
      label:
        add:
            - sudah direview!
      merge:
        method: squash
  - name: java label
    conditions:
      - files~=\.java$
    actions:
      label:
        add:
          - java files
          - request tim java untuk review
  - name: markdown label
    conditions:
      - files~=\.md$
    actions:
      label:
        add:
          - markdown files
          - request docs team untuk review
  - name: review docs team untuk file markdown
    conditions:
      - label=markdown files
    actions:
      request_reviews:
        teams:
          - "@sautmanurung1"

  - name: review docs team untuk file markdown
    conditions:
      - label=java files
    actions:
      request_reviews:
        teams:
          - "@bellshade/java-team"

feat: Menambahkan Algoritma dan Dokumentasi Baru
  algorithm/data-structure/LinkedList/SourceCode/LinkedListSatu.java
Due: java label

feat: create maven pom
  pom.xml
Due: none

fix: meperbaiki github action
  .github/workflows/buildjava.yml
Due: none

feat: Menambahkan Algoritma dan Dokumentasi Baru (#95)
  algorithm/data-structure/LinkedList/README.md
  algorithm/data-structure/LinkedList/SourceCode/LinkedListSatu.java
Due: java label, markdown label

fix: memperbaiki github action
  .github/workflows/prettify.yml
Due: none

fix: typos
  .github/workflows/prettify.yml
Due: none

docs: Memperbaharui Dokumentasi Baru
  algorithm/data-structure/LinkedList/README.md
Due: markdown label

docs: Memperbaharui Dokumentasi
  algorithm/data-structure/README.md
Due: markdown label

add: Menambahkan Algoritma dan Dokumentasi Baru
  algorithm/data-structure/Queue/README.md
  algorithm/data-structure/Queue/SourceCode/ContohQueue.java
Due: java label, markdown label

docs: Memperbaharui dokumentasi
  algorithm/data-structure/README.md
Due: markdown label

docs: Memperbaharui Dokumentasi
  algorithm/data-structure/LinkedList/README.md
Due: markdown label

feat: menbamhkan fungsi math floor
  src/main/java/com/bellshade/maths/Floor.java
Due: java label

docs: menambahkan dokumentasi binary tree
  algorithm/data-structure/Tree/BinaryTree/README.md
Due: markdown label

feat: menambahkan contoh source code
  algorithm/data-structure/Tree/BinaryTree/BinaryTreeInsert.java
  algorithm/data-structure/Tree/BinaryTree/DeleteNode.java
Due: java label

feat: contoh implementasi dari tree
  algorithm/data-structure/Tree/ContohTree.java
Due: java label

fix: memperbaiki pretiffy hanya untuk push
  .github/workflows/prettify.yml
Due: none

docs: menambahkan materi tree traversal
  algorithm/data-structure/Tree/TreeTraversal/README.md
  algorithm/data-structure/Tree/TreeTraversal/tree12.gif
Due: markdown label

docs: menambahkan contoh source code
  algorithm/data-structure/Tree/TreeTraversal/TreeTraversal.java
Due: java label

feat: menambahkan materi terbaru
  algorithm/data-structure/Tree/InorderTreeTraversalWithoutRecursive/InorderTreeTraversalWithoutRecursive.java
  algorithm/data-structure/Tree/InorderTreeTraversalWithoutRecursive/README.md
Due: java label, markdown label

feat: menambahkan backtick
  algorithm/data-structure/Tree/InorderTreeTraversalWithoutRecursive/README.md
Due: markdown label

fix: mengganti nama folder
  algorithm/data-structure/Tree/TraversalTreeWithoutRecursive/InorderTreeTraversalWithoutRecursive.java
  algorithm/data-structure/Tree/TraversalTreeWithoutRecursive/README.md
Due: java label, markdown label

feat: menambahkan materi binary tree (do not merge) (#97)
  algorithm/data-structure/Tree/BinaryTree/BinaryTreeInsert.java
  algorithm/data-structure/Tree/BinaryTree/DeleteNode.java
  algorithm/data-structure/Tree/BinaryTree/README.md
  algorithm/data-structure/Tree/ContohTree.java
  algorithm/data-structure/Tree/TraversalTreeWithoutRecursive/InorderTreeTraversalWithoutRecursive.java
  algorithm/data-structure/Tree/TraversalTreeWithoutRecursive/README.md
  algorithm/data-structure/Tree/TreeTraversal/README.md
  algorithm/data-structure/Tree/TreeTraversal/TreeTraversal.java
  algorithm/data-structure/Tree/TreeTraversal/tree12.gif
Due: java label, markdown label

docs: Memperbaharui Utilities Github
  .github/CODEOWNERS
Due: none

docs: Memperbaharui Utilities Repo
  .github/FUNDING.yml
Due: none

feat: menambhkan materi graf pada java
  algorithm/data-structure/Graph/ContohGraph.java
  algorithm/data-structure/Graph/README.md
  algorithm/data-structure/Graph/assets/u_graf.png
Due: java label, markdown label

fix: Memperbaiki Utilities Repo
  .github/workflows/prettify.yml
Due: none

feat: menambhkan materi graf pada java (#100)
  algorithm/data-structure/Graph/ContohGraph.java
  algorithm/data-structure/Graph/README.md
  algorithm/data-structure/Graph/assets/u_graf.png
Due: java label, markdown label

feat: menambahkan materi switch lambda & yield
  learn/basic/StrukturKontrol/SwitchLambda/README.md
  learn/basic/StrukturKontrol/SwitchLambda/SwitchLambda.java
  learn/basic/StrukturKontrol/SwitchYield/README.md
  learn/basic/StrukturKontrol/SwitchYield/SwitchYield.java
Due: java label, markdown label

feat: menambahkan materi switch lambda & yield (#101)
  learn/basic/StrukturKontrol/SwitchLambda/README.md
  learn/basic/StrukturKontrol/SwitchLambda/SwitchLambda.java
  learn/basic/StrukturKontrol/SwitchYield/README.md
  learn/basic/StrukturKontrol/SwitchYield/SwitchYield.java
Due: java label, markdown label

fix: ketinggalan
  src/main/java/com/bellshade/utilities/JavaDate/JavaDate.java
  src/main/java/com/bellshade/utilities/JavaDate/README.md
  target/classes/com/bellshade/utilities/JavaDate/README.md
Due: java label, markdown label

fix: ubah link README.md mengikuti path yg baru
  README.md
Due: markdown label

fix: menambahkan gitignore di target build maven
  .gitignore
Due: none
