Repository bellshade/Java: changes, and which Mergify rules are due for each by the changed paths.
All: java label, markdown label

.mergify.yml:

pull_request_rules:
  - name: ci testing kalo sukses ke squash dengan label
    conditions:
      - check-success=build
      - base=main
      - label=ready-to-merge
    actions:
      comment:
        message: terima kasih atas kontribusinya @{{author}}!
      label:
        add:
            - sudah direview!
      merge:
        method: squash
  - name: java label
    conditions:
      - files~=\.java$
    actions:
      label:
        add:
          - java files
          - request tim java untuk review
  - name: markdown label
    conditions:
      - files~=\.md$
    actions:
      label:
        add:
          - markdown files
          - request docs team untuk review
  - name: review docs team untuk file markdown
    conditions:
      - label=markdown files
    actions:
      request_reviews:
        teams:
          - "@sautmanurung1"

  - name: review docs team untuk file markdown
    conditions:
      - label=java files
    actions:
      request_reviews:
        teams:
          - "@bellshade/java-team"

docs: fix alamat URL pada README.md oop_intermediate
  src/main/java/learn/intermediate/object_oriented_programming/oop_intermediate/README.md
Due: markdown label

docs: fix alamat URL pada README.md oop_intermediate (#113)
  src/main/java/learn/intermediate/object_oriented_programming/oop_intermediate/README.md
Due: markdown label

add: penjelasan Java Currency
  src/main/java/utilities/JavaCurrency/JavaCurrency.java
  src/main/java/utilities/JavaCurrency/README.md
  src/main/java/utilities/JavaCurrency/img/AllCurrencyMethods.png
Due: java label, markdown label

add: penjelasan Java Currency (#114)
  src/main/java/utilities/JavaCurrency/JavaCurrency.java
  src/main/java/utilities/JavaCurrency/README.md
  src/main/java/utilities/JavaCurrency/img/AllCurrencyMethods.png
Due: java label, markdown label

add: menambah PI dan pembulatan angka
  src/main/java/learn/basic/MathJava/MathJava.java
Due: java label

add: menambah PI dan pembulatan angka (#115)
  src/main/java/learn/basic/MathJava/MathJava.java
Due: java label

add: menambahkan Java Generic
  src/main/java/learn/intermediate/JavaGeneric/GenericClass.java
  src/main/java/learn/intermediate/JavaGeneric/JavaGeneric.java
  src/main/java/learn/intermediate/JavaGeneric/README.md
Due: java label, markdown label

add: menambahkan Java Generic Class (#116)
  src/main/java/learn/intermediate/JavaGeneric/GenericClass.java
  src/main/java/learn/intermediate/JavaGeneric/JavaGeneric.java
  src/main/java/learn/intermediate/JavaGeneric/README.md
Due: java label, markdown label

add: penjelasan Java Calendar, fix: error package name
  src/main/java/maths/GCD.java
  src/main/java/utilities/JavaCalendar/JavaCalendar.java
  src/main/java/utilities/JavaCalendar/README.md
Due: java label, markdown label

add: penjelasan Java Calendar, fix: error package name (#117)
  src/main/java/maths/GCD.java
  src/main/java/utilities/JavaCalendar/JavaCalendar.java
  src/main/java/utilities/JavaCalendar/README.md
Due: java label, markdown label

add: penjelasan JavaStringTokenizer
  src/main/java/utilities/JavaStringTokenizer/JavaStringTokenizer.java
  src/main/java/utilities/JavaStringTokenizer/README.md
  src/main/java/utilities/JavaStringTokenizer/img/StringTokenizerFlow.png
  src/main/java/utilities/JavaStringTokenizer/img/allStringTokenizerMethods.png
Due: java label, markdown label

add: penjelasan JavaStringTokenizer (#119)
  src/main/java/utilities/JavaStringTokenizer/JavaStringTokenizer.java
  src/main/java/utilities/JavaStringTokenizer/README.md
  src/main/java/utilities/JavaStringTokenizer/img/StringTokenizerFlow.png
  src/main/java/utilities/JavaStringTokenizer/img/allStringTokenizerMethods.png
Due: java label, markdown label

feat: add sample unit test using AAA (Arrange, Act, Assert) pattern
  src/test/java/ArrangeActAssertPatternTest.java
Due: java label

feat: add sample unit test using AAA (Arrange, Act, Assert) pattern (#120)
  src/test/java/ArrangeActAssertPatternTest.java
Due: java label

fix: fixing wrong path url README.md in package looping
  src/main/java/learn/basic/Looping/README.md
Due: markdown label

feat: add foreach looping
  src/main/java/learn/basic/Looping/ForEach/ForEachStatement.java
  src/main/java/learn/basic/Looping/ForEach/README.md
Due: java label, markdown label

fix: fixing wrong path in README.md for all looping package
  src/main/java/learn/basic/Looping/DoWhile/README.md
  src/main/java/learn/basic/Looping/For/README.md
  src/main/java/learn/basic/Looping/README.md
  src/main/java/learn/basic/Looping/While/README.md
Due: markdown label

fix: add more comment in foreach
  src/main/java/learn/basic/Looping/ForEach/ForEachStatement.java
  src/main/java/learn/basic/Looping/ForEach/README.md
Due: java label, markdown label

Add foreach looping and fixing path in readme.md (#121)
  src/main/java/learn/basic/Looping/DoWhile/README.md
  src/main/java/learn/basic/Looping/For/README.md
  src/main/java/learn/basic/Looping/ForEach/ForEachStatement.java
  src/main/java/learn/basic/Looping/ForEach/README.md
  src/main/java/learn/basic/Looping/README.md
  src/main/java/learn/basic/Looping/While/README.md
Due: java label, markdown label

feat: add code for mini-games "guess the number"
  src/main/java/learn/advanced/GuessTheNumber/GuessTheNumber.java
  src/main/java/learn/advanced/GuessTheNumber/README.md
Due: java label, markdown label

add: refactor code and documentation for "guess the number"
  src/main/java/learn/advanced/GuessTheNumber/GuessTheNumber.java
  src/main/java/learn/advanced/GuessTheNumber/README.md
Due: java label, markdown label

Add guess the number game to package advanced (#122)
  src/main/java/learn/advanced/GuessTheNumber/GuessTheNumber.java
  src/main/java/learn/advanced/GuessTheNumber/README.md
Due: java label, markdown label

feat: add code and documentation for "rock paper scissors" game
  src/main/java/learn/advanced/RockPaperScissors/Move.java
  src/main/java/learn/advanced/RockPaperScissors/README.md
  src/main/java/learn/advanced/RockPaperScissors/RockPaperScissors.java
Due: java label, markdown label

feat: add code and documentation for "rock paper scissors" game (#123)
  src/main/java/learn/advanced/RockPaperScissors/Move.java
  src/main/java/learn/advanced/RockPaperScissors/README.md
  src/main/java/learn/advanced/RockPaperScissors/RockPaperScissors.java
Due: java label, markdown label

add: penjelasan JavaIterator (#124)
  src/main/java/utilities/JavaIterator/JavaIterator.java
  src/main/java/utilities/JavaIterator/README.md
Due: java label, markdown label

add: penjelasan JavaIterator
  src/main/java/utilities/JavaIterator/JavaIterator.java
  src/main/java/utilities/JavaIterator/README.md
Due: java label, markdown label

add: Java Generic Method
  src/main/java/learn/intermediate/JavaGeneric/GenericClass/GenericClass.java
  src/main/java/learn/intermediate/JavaGeneric/GenericMethod/GenericMethod.java
  src/main/java/learn/intermediate/JavaGeneric/JavaGeneric.java
  src/main/java/learn/intermediate/JavaGeneric/README.md
Due: java label, markdown label

add: Java Generic Method (#125)
  src/main/java/learn/intermediate/JavaGeneric/GenericClass/GenericClass.java
  src/main/java/learn/intermediate/JavaGeneric/GenericMethod/GenericMethod.java
  src/main/java/learn/intermediate/JavaGeneric/JavaGeneric.java
  src/main/java/learn/intermediate/JavaGeneric/README.md
Due: java label, markdown label

add: menambah java abstract generic
  src/main/java/learn/intermediate/JavaGeneric/AbstractGenericClass/JavaAbstractGeneric.java
  src/main/java/learn/intermediate/JavaGeneric/AbstractGenericClass/MainGenericClass.java
  src/main/java/learn/intermediate/JavaGeneric/AbstractGenericClass/Pakaian.java
  src/main/java/learn/intermediate/JavaGeneric/AbstractGenericClass/README.md
  src/main/java/learn/intermediate/JavaGeneric/AbstractGenericClass/model/Baju.java
  src/main/java/learn/intermediate/JavaGeneric/AbstractGenericClass/model/Celana.java
Due: java label, markdown label

add: menambah java abstract generic (#127)
  src/main/java/learn/intermediate/JavaGeneric/AbstractGenericClass/JavaAbstractGeneric.java
  src/main/java/learn/intermediate/JavaGeneric/AbstractGenericClass/MainGenericClass.java
  src/main/java/learn/intermediate/JavaGeneric/AbstractGenericClass/Pakaian.java
  src/main/java/learn/intermediate/JavaGeneric/AbstractGenericClass/README.md
  src/main/java/learn/intermediate/JavaGeneric/AbstractGenericClass/model/Baju.java
  src/main/java/learn/intermediate/JavaGeneric/AbstractGenericClass/model/Celana.java
Due: java label, markdown label

add: menambah java generic multi parameter type
  src/main/java/learn/intermediate/JavaGeneric/GenericClassMultiParameter/GenericClassMultiParameter.java
  src/main/java/learn/intermediate/JavaGeneric/JavaGeneric.java
Due: java label

add: menambah readme pada java generic multi parameter
  src/main/java/learn/intermediate/JavaGeneric/GenericClassMultiParameter/README.md
  src/main/java/learn/intermediate/JavaGeneric/README.md
Due: markdown label

add: menambah java generic multi parameter type (#129)
  src/main/java/learn/intermediate/JavaGeneric/GenericClassMultiParameter/GenericClassMultiParameter.java
  src/main/java/learn/intermediate/JavaGeneric/GenericClassMultiParameter/README.md
  src/main/java/learn/intermediate/JavaGeneric/JavaGeneric.java
  src/main/java/learn/intermediate/JavaGeneric/README.md
Due: java label, markdown label

add: menambah program game menghitung cepat
  src/main/java/learn/advanced/quickMath/QuickMath.java
Due: java label

add: dokumentasi untuk permainan QuickMath
  src/main/java/learn/advanced/quickMath/ReadME.md
Due: markdown label

fix: menghilangkan spasi yang tidak terpakai
  src/main/java/learn/advanced/quickMath/QuickMath.java
Due: java label

feat: menambahkn binary search model iterative
  src/main/java/algorithm/datastructure/Tree/BinarySearchTree/BinarySearchTreeIterative.java
Due: java label

fix: memperbaiki variable typo
  src/main/java/algorithm/datastructure/Tree/BinarySearchTree/BinarySearchTreeIterative.java
Due: java label

add: menambah program game menghitung cepat (#131)
  src/main/java/learn/advanced/quickMath/QuickMath.java
  src/main/java/learn/advanced/quickMath/ReadME.md
Due: java label, markdown label

feat: menambahkn binary search model iterative (#132)
  src/main/java/algorithm/datastructure/Tree/BinarySearchTree/BinarySearchTreeIterative.java
Due: java label
