Repository bellshade/Java: changes, and which Mergify rules are due for each by the changed paths.
All: java label, markdown label

java label:
  label:
    add:
    - java files
    - request tim java untuk review

markdown label:
  label:
    add:
    - markdown files
    - request docs team untuk review

docs: menambahkan dokumentasi java swing
  src/main/java/learn/advanced/JavaGUI/Swing/README.md
Due: markdown label

docs: menambahkan dokumentasi java swing (#171)
  src/main/java/learn/advanced/JavaGUI/Swing/README.md
Due: markdown label

add: menambahkan program JTextField with JPanel
  src/main/java/learn/advanced/JavaGUI/Swing/JPanelWithJTextField/JTextFieldJPanel.java
Due: java label

add: menambahkan program JTextField with JPanel (#172)
  src/main/java/learn/advanced/JavaGUI/Swing/JPanelWithJTextField/JTextFieldJPanel.java
Due: java label

docs: perbaiki salah ketik
  src/main/java/learn/basic/TipeData/README.md
Due: markdown label

docs: perbaiki salah ketik (#173)
  src/main/java/learn/basic/TipeData/README.md
Due: markdown label

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

fix: merubah model dari konversi biner ke bilangan desimal
  .classpath
  .factorypath
  .github/workflows/formatter.yml
  .gitignore
  src/main/java/algorithm/conversions/BinaryToDecimal.java
  src/test/java/algorithm/conversion/BinaryToDecimalTest.java
Due: java label

fix: merubah model dari konversi biner ke bilangan desimal (#175)
  .classpath
  .factorypath
  .github/workflows/formatter.yml
  .gitignore
  src/main/java/algorithm/conversions/BinaryToDecimal.java
  src/test/java/algorithm/conversion/BinaryToDecimalTest.java
Due: java label

feat: menambahkan contoh angka armstrong
  pom.xml
  src/main/java/maths/AngkaArmstrong.java
  src/test/java/maths/AngkaArmstrongTest.java
Due: java label

feat: menambahkan contoh angka armstrong (#176)
  pom.xml
  src/main/java/maths/AngkaArmstrong.java
  src/test/java/maths/AngkaArmstrongTest.java
Due: java label

feat: menambahkan algoritma Konvolusi
  src/main/java/algorithm/math/Konvolusi.java
Due: java label

feat: menambahkan algoritma Konvolusi (#177)
  src/main/java/algorithm/math/Konvolusi.java
Due: java label

docs : Memperbaiki dokumentasi
  CONTRIBUTING.md
  README.md
Due: markdown label

docs : Memperbaiki dokumentasi (#178)
  CONTRIBUTING.md
  README.md
Due: markdown label

Path conditions:
  java label: any of: \.java$
  markdown label: any of: \.md$
