Repository bellshade/Java: changes, and which Mergify rules are due for each by the changed paths.
All: java label, markdown label

.mergify.yml:

pull_request_rules:
  - name: ci testing kalo sukses ke squash dengan label
    conditions:
      - check-success=build
      - base=main
      - label=ready-to-merge
    actions:
      comment:
        message: terima kasih atas kontribusinya @{{author}}!
      label:
        add:
            - sudah direview!
      merge:
        method: squash
  - name: java label
    conditions:
      - files~=\.java$
    actions:
      label:
        add:
          - java files
          - request tim java untuk review
  - name: markdown label
    conditions:
      - files~=\.md$
    actions:
      label:
        add:
          - markdown files
          - request docs team untuk review
  - name: review docs team untuk file markdown
    conditions:
      - label=markdown files
    actions:
      request_reviews:
        teams:
          - "@sautmanurung1"

  - name: review docs team untuk file markdown
    conditions:
      - label=java files
    actions:
      request_reviews:
        teams:
          - "@bellshade/java-team"

fix : Perubahan di README.md dan CONTRIBUTING.md
  CONTRIBUTING.md
  README.md
Due: markdown label

docs : commit ulang README.md dan CONTROBUTION.md
  CONTRIBUTING.md
Due: markdown label

docs : perbaikian dokumentasi
  CONTRIBUTING.md
Due: markdown label

docs: memperbaiki beberapa typo
  CONTRIBUTING.md
  README.md
Due: markdown label

docs: menambahkan cara penggunaan di vscode
  CONTRIBUTING.md
  README.md
Due: markdown label

feat: menambahkan git action
  .github/workflows/build.yml
Due: none

feat: menambahkan git action (#103)
  .github/workflows/build.yml
Due: none

docs: perbaikan typo dokumentasi README
  README.md
Due: markdown label

docs: perbaikan typo dokumentasi README (#105)
  README.md
Due: markdown label

docs: Menambahkan Utilities Repo
  .github/CODEOWNERS
Due: none

docs: Menambahkan Utilites Repo
  .github/FUNDING.yml
Due: none

docs: Menambahkan Utilitas Repo
  .github/pull_request_template.md
Due: markdown label

docs: Memperbaharui Dokumentasi Repo
  README.md
Due: markdown label

docs: Menambahkan Utilitas Repo
  .github/workflows/prettify.yml
Due: none

docs: Menambahkan Dokumentasi
  .github/ISSUE_TEMPLATE/feature_report.md
  .github/pull_request_template.md
Due: markdown label

docs: Menambahkan Dokumentasi (#106)
  .github/ISSUE_TEMPLATE/feature_report.md
  .github/pull_request_template.md
Due: markdown label

docs: Memperbaharui Dokumentasi Repo
  .github/pull_request_template.md
Due: markdown label

docs: Memperbaharui Dokumentasi
  README.md
Due: markdown label

docs: Menambahkan Utilitas Repo
  .github/ISSUE_TEMPLATE/lain-lain.md
Due: markdown label

add: menambahkan program faktor persekutuan terbesar
  src/main/java/maths/GCD.java
Due: java label

add: menambahkan program faktor persekutuan terbesar (#107)
  src/main/java/maths/GCD.java
Due: java label

fix: error package dan fungsi output
  src/main/java/maths/GCD.java
Due: java label

fix: update perbaikan
  src/main/java/maths/GCD.java
Due: java label

fix: memperbaiki dengan mengganti nama kelas
  src/main/java/maths/FaktorPersekutuanTerbesar.java
Due: java label

fix: memperbaiki variabel untukk memanggil gcd
  src/main/java/maths/FaktorPersekutuanTerbesar.java
Due: java label

feat: Memperbaharui Maven Compiler
  pom.xml
Due: none

feat: Memperbaharui Compiler Java
  .github/workflows/build.yml
Due: none

feat: Memperbaharaui Maven
  pom.xml
Due: none

feat: Memperbaharui Maven
  pom.xml
Due: none

feat: Memperbaharui Materi Pemrograman
  src/main/java/maths/GCD.java
Due: java label

fix: Memperbaharui kode program
  src/main/java/maths/GCD.java
Due: java label

fix: Memperbaharui kode program (#109)
  src/main/java/maths/GCD.java
Due: java label

add: Menambahkan algoritma dan dokumentasi baru
  src/main/java/algorithm/datastructure/Search/LinearSearch.java
  src/main/java/algorithm/datastructure/Search/README.md
Due: java label, markdown label

Linearsearch (#110)
  src/main/java/algorithm/datastructure/Search/LinearSearch.java
  src/main/java/algorithm/datastructure/Search/README.md
Due: java label, markdown label

feat: Menambahkan binary search
  src/main/java/algorithm/datastructure/Search/BinarySearch.java
  src/main/java/algorithm/datastructure/Search/README.md
Due: java label, markdown label

feat: Menambahkan binary search (#111)
  src/main/java/algorithm/datastructure/Search/BinarySearch.java
  src/main/java/algorithm/datastructure/Search/README.md
Due: java label, markdown label

docs: Menutup Visitor Badge sementara karena hilang
  README.md
Due: markdown label

docs: Menutup Visitor Badge sementara karena hilang (#112)
  README.md
Due: markdown label
